ProyectoLab/ProyectoLab/Web.config
ProyectoLab/TestProyectoLab/Web.Release.config
ProyectoLab/.vs/ProyectoLab/v14/.suo
ProyectoLab/ProyectoLab.v12.suo
ProyectoLab/ProyectoLab.v12.suo
ProyectoLab/.vs/ProyectoLab/v14/.suo
ProyectoLab/ProyectoLab/obj/Debug/ProyectoLab.dll
ProyectoLab/ProyectoLab/obj/Debug/ProyectoLab.pdb
ProyectoLab/ProyectoLab/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProyectoLab/ProyectoLab/bin/ProyectoLab.dll
ProyectoLab/ProyectoLab/obj/Debug/ProyectoLab.pdb
*.dll